  .sideMenu {
    position: absolute;
    right: 0;
    background-color: #ffffffda;
    color: black;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    transition: all ease-in-out 0.3s;
    z-index: 200;
    box-shadow: 0px 0px 20px 0px black;
    font-family: 'Righteous', cursive;

  }

  .sideMenu a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    position: relative;
    transition: all 0.9s;
  }

  .sideMenu a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background-color: rgb(137, 56, 230);
    height: 1px;
    text-align: left;
    opacity: 0;
  }

  .sideMenu a:hover {
    color: white;
    z-index: 1;
  }

  .sideMenu a:hover:after {
    width: 100%;
    z-index: -1;
    animation: fill 0.5s forwards;
    -webkit-animation: fill 0.5s forwards;
    -moz-animation: fill 0.5s forwards;
    opacity: 1;
  }

  .sideMenu button {
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    position: relative;
    transition: all 0.9s;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .sideMenu button:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background-color: rgb(137, 56, 230);
    height: 1px;
    text-align: left;
    opacity: 0;
  }

  .sideMenu button:hover {
    color: white;
    z-index: 1;
  }

  .sideMenu button:hover:after {
    width: 100%;
    z-index: -1;
    animation: fill 0.5s forwards;
    -webkit-animation: fill 0.5s forwards;
    -moz-animation: fill 0.5s forwards;
    opacity: 1;
  }


  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: rgb(137, 56, 230);
    }
  }
/* 
Fill animation style referenced from: https://codepen.io/maheshambure21/pen/QwXaRw */