.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: -100%;
  transition: all ease-in-out 0.3s;
  height: 100vh;
  width: 28%;
  z-index: 200;
  font-family: 'Righteous', cursive;

}

.toggle a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.toggle button {
  font-family: 'Righteous', cursive;

  display: flex;
justify-content: center;
align-items: center;
margin: 3rem 0;
font-size: 1.5rem;
width: 100%;
padding: 1rem;
position: relative;
transition: all 0.9s;
background: transparent;
border: none;
outline: none;
cursor: pointer;

}
